[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/joseph/Escritorio/Extract-Text]
row=3
col=17

[/home/joseph/Escritorio/trie.py]
row=6
col=17

[/home/joseph/Escritorio/trie.cpp]
row=5
col=17

[/home/joseph/Escritorio/steam.desktop]
row=4
col=17

[Papelera]
row=1
col=17

[/]
row=2
col=17

[/home/joseph]
row=0
col=17

